<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CopyOnWrite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CopyOnWrite.Properties.Settings>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ToFolder" serializeAs="String">
        <value>C:\_bak</value>
      </setting>
      <setting name="Col_FileName_Width" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="Col_FullPath_Width" serializeAs="String">
        <value>236</value>
      </setting>
      <setting name="Col_TimeStamp_Width" serializeAs="String">
        <value>154</value>
      </setting>
      <setting name="IsMatch" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>\.sln$|\.vcxproj$|\.c$|\.cpp$|\.h$|\.rc$|\.dlg$|\.htm$|\.html$</string>
            <string />
            <string />
            <string>match nothing</string>
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FromFolder" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\_qdev\</string>
            <string>C:\_T</string>
            <string>c:\_qdev_data</string>
            <string>C:\Users\trichards</string>
            <string>c:\_CopyOnWrite</string>
            <string>h:\_OneNote</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>1, 0, 667, 1080</value>
      </setting>
      <setting name="Negative" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>qwapp\.c$|dlldata\.c$|(_p|_i|_h)\.(c|h)$|_manifest.rc$|\ \-\ Copy|Debug</string>
            <string>application$|cache$|exe$|pdb$|tmp$|manifest$|tlog$|resources$|suo$|FileListAbsolute.txt|Debug|OFXLOG.DAT|mp3$|png$|dll$|msi$|cab$|appinfo$vmx$|vmxf$|cache</string>
            <string>qdf$|dat$|qdf-backup$|_sync_perf.txt$</string>
            <string>^Cookies|^ntuser|^SyncData|^Current|^~|^FavIcons|tmp$|^Preferences|winprf$|Default$</string>
            <string>application$|cache$|exe$|pdb$|tmp$|manifest$|tlog$|resources$|suo$|FileListAbsolute.txt|Debug|OFXLOG.DAT|mp3$|png$|dll$|deploy$|publish</string>
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Disable" serializeAs="Xml">
        <value>
          <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <boolean>false</boolean>
            <boolean>false</boolean>
            <boolean>false</boolean>
            <boolean>false</boolean>
            <boolean>false</boolean>
            <boolean>false</boolean>
          </ArrayOfBoolean>
        </value>
      </setting>
      <setting name="SplitterPos" serializeAs="Xml">
        <value>
          <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <int>434</int>
            <int>632</int>
            <int>632</int>
            <int>632</int>
            <int>632</int>
            <int>279</int>
          </ArrayOfInt>
        </value>
      </setting>
      <setting name="Col_Tab_Width" serializeAs="String">
        <value>56</value>
      </setting>
    </CopyOnWrite.Properties.Settings>
  </userSettings>
</configuration>